.spacer {
  flex: 1 1 auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.comment a {
  color: rgb(12, 17, 12);
  font-size: larger;
}
button {
  font-weight: large;
}

a {
  text-decoration: none;
  color: white;
  font-size: large;
}
