.main {
  margin-top: 20px;
}
mat-card-content p {
  margin-left: 20px;
  text-overflow: ellipsis;
}
p {
  margin-right: 5px;
}
mat-card {
  padding: 0;
  margin-top: 5px;
  height: 120px;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  flex-wrap: wraps;
  border-radius: 0%;
}
mat-card .left {
  flex: 70%;
  margin-top: 5px;
}
mat-card-actions {
  padding: 0;
}
button {
  padding: 0px 5px;
}
mat-spinner {
  margin: auto;
}
@media (max-width: 500px) {
  mat-card {
    flex-direction: column;
    height: auto;
  }
  mat-card-title {
    width: 200px;
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

p {
  width: 200px;
  padding: 2px 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
