<div class="main">
  <mat-card>
    <div class="left">
      <mat-card-header>
        <mat-card-title>{{ title }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          {{ content }}
        </p>
      </mat-card-content>
    </div>
    <div class="right">
      <p>submitted by: {{ username }}</p>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="openDialog(userId)">
          reply
        </button>
      </mat-card-actions>
    </div>
  </mat-card>
</div>
