<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{ title }}</h5>
    <p class="card-text">
      {{ content }}
    </p>
    <button mat-raised-button color="primary" (click)="openDialog()">
      reply
    </button>
  </div>
</div>

<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-card class="main">
  <p>{{ commentCount }} comments</p>

  <mat-card *ngFor="let c of comments">
    <mat-card-content>
      <p>{{ c.username }} said: {{ c.comment }}</p>
    </mat-card-content>
    <mat-card-actions>
      <div class="button-class" *ngIf="userId === c.userId">
        <button mat-raised-button color="accent" (click)="openDialog(c._id)">
          edit
        </button>
        <button mat-raised-button color="warn" (click)="delteHandler(c._id)">
          delete
        </button>
      </div>
    </mat-card-actions>
    <mat-form-field>
      <input
        matInput
        type="text"
        (keyup)="onKey($event, c._id)"
        placeholder="reply here to {{ c.username }}"
        autocomplete="off"
        minlength="1"
      />
    </mat-form-field>
    <!-- ---------------- -->
    <div *ngFor="let cs of allComments">
      <mat-card *ngIf="cs.commentId === c._id">
        <mat-card-content>
          <p>{{ cs.username }} replied to {{ c.username }}: {{ cs.comment }}</p>
        </mat-card-content>
        <mat-card-actions>
          <div class="button-class" *ngIf="userId === cs.userId">
            <button
              mat-raised-button
              color="accent"
              (click)="openDialog(cs._id, c._id)"
            >
              edit
            </button>
            <button
              mat-raised-button
              color="warn"
              (click)="deleteHandler(cs._id)"
            >
              delete
            </button>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
    <!----------------------->
  </mat-card>
</mat-card>

<mat-card *ngIf="commentCount === 0">
  <h1>no comments here</h1>
</mat-card>
