.main {
  margin-top: 20px;
}
mat-card-content p {
  margin-left: 20px;
}
p {
  margin-right: 5px;
}
mat-card {
  padding: 0;
  margin-top: 5px;
  height: 100px;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  flex-wrap: wraps;
  border-radius: 0%;
}
mat-card .left {
  flex: 70%;
  margin-top: 5px;
}
mat-card-actions {
  padding: 0;
}
button {
  border: 1px solid black;
  padding: 0px;
  right: 0px;
}
